.pageConsult {
  overflow: scroll;
  display: flex;
  /* flex: 1; */
  /* flex-direction: column; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.pageConsult::-webkit-scrollbar {
  display: none;
}
.resultsListWrapper::-webkit-scrollbar {
  display: none;
}

/* .results-list {
  height: 100%;
  overflow: scroll;
  flex: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.resultsDisplay {
  flex: 2;
  height: calc(100%-60px);
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 30px;
}

.resultsListWrapper {
  flex: 0.75;
  height: calc(100% - 25px);
  width: clamp(200px, 200px, auto);
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  /* justify-content: space-around; */
  margin: 10px;
  border-radius: 25px;
  /* padding: 10px; */
  border: #a1e8cc solid 3px;
  /* border-radius: 25px; */
  background-color: #370926;
  overflow-x: scroll;
  /* width: 90%; */
  -ms-overflow-style: none; /* IE and Edge */
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.9));
  /* width: fit-content; */
}

.filterButton {
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.9));
  height: clamp(50px, 50px, auto);
  width: clamp(200px, 100%, 100%);
  flex: 1;
  /* width: 200px; */
  color: #a1e8cc;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #012a36;
  /* border: #012a36 solid 3px; */
  transition: all 0.5s;
  /* filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.5)); */
}

.filterButton:hover,
.filterButton:focus {
  /* background-color: #656839; */
  /* color: #a1e8cc; */
  transform: scale(0.99);
  /* border: #012a36 solid 3px; */
  transition: all 0.1s;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 1)) invert();
  transform: translateY(5px);
  transition: all 0.2s;
}

.backButton {
  position: sticky;
  bottom: 0px;
  display: none;
  transform: translateY(0%);
  animation: slideFromBottom 0.5s ease-in-out;
  background-color: rgba(162, 111, 52, 1);
}
.backButton:not(.hidden) {
  position: sticky;
  bottom: 0px;
  display: block;
  transform: translateY(0%);
  animation: slideFromBottom 0.5s ease-in-out;
  background-color: rgba(162, 111, 52, 1);
}
