.page-consult {
  overflow: scroll;
  display: flex;
  /* flex: 1; */
  /* flex-direction: column; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-consult::-webkit-scrollbar {
  display: none;
}
.results-list-wrapper::-webkit-scrollbar {
  display: none;
}

/* .results-list {
  height: 100%;
  overflow: scroll;
  flex: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.results-display {
  flex: 2;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  padding: 30px;
}

.results-list-wrapper {
  flex: 0.75;
  height: 100%;
  width: clamp(200px, 200px, auto);
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-around; */
  margin: 0px 10px 0px 0px;
  /* padding: 10px; */
  border-right: #a1e8cc solid 3px;
  /* border-radius: 25px; */
  background-color: #370926;
  overflow: scroll;
  /* width: 90%; */
  -ms-overflow-style: none; /* IE and Edge */
  /* width: fit-content; */
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.9));
}

.filter-button {
  height: clamp(50px, 50px, auto);
  width: clamp(200px, 100%, 100%);
  flex: 1;
  /* width: 200px; */
  color: #a1e8cc;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #012a36;
  border: #012a36 solid 3px;
  transition: all 0.5s;
  /* filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.5)); */
}

.filter-button:hover,
.filter-button:focus {
  background-color: #656839;
  color: #a1e8cc;
  transform: scale(0.99);
  border: #012a36 solid 3px;
  transition: all 0.1s;
}

.back-button:not(.hidden) {
  position: sticky;
  bottom: 0px;
  transform: translateY(0%);
  animation: slideFromBottom 0.5s ease-in-out;
  background-color: rgba(162, 111, 52, 1);
}
