.page_create {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.creature_features_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.creature_actions_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.creature_names_wrapper {
  height: 50px;
  background-color: #012a36;
  color: #a1e8cc;
  overflow: hidden;
  border-left: #a1e8cc solid 3px;
  border-right: #a1e8cc solid 3px;
  border-bottom: #a1e8cc solid 3px;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
}

.creature_names_name {
  background-color: #012a36;
  color: #a1e8cc;
  overflow: hidden;
  border: #a1e8cc solid 3px;
  text-align: center;
}

.creature_names_wrapper:hover,
.creature_names_wrapper:focus {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 1)) invert();
  transition: all 0.2s;
  border: #012a36 solid 3px;
}

.ability_scores_wrapper:not(.loading) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #012a36; */
  color: #a1e8cc;
  overflow: hidden;
  /* border-bottom: #a1e8cc solid 3px;
  border-right: #a1e8cc solid 3px; */
  flex: 1;
}

.ability_scores_score_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #012a36;
  color: #a1e8cc;
  overflow: hidden;
  /* border: #a1e8cc solid 3px; */
  height: 90%;
  width: 25%;
  margin: 10px;
  border: #a1e8cc solid 3px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
  transition: all 0.2s;
}

.ability_scores_score_ability {
  text-transform: uppercase;
  font-size: clamp(12px, 15px, 20px);
  border-bottom: #a1e8cc solid 3px;
  padding: 10px;
}
.ability_scores_score_value {
  text-transform: uppercase;
  font-size: clamp(15px, 20px, 20px);
  padding: 10px;
}
.ability_scores_score_modifier {
  text-transform: uppercase;
  font-size: clamp(10px, 15px, 20px);
  border: #a1e8cc solid 1px;
  border-radius: 50%;
  height: calc(width);
  text-align: center;
  width: 30%;
  margin: 10px;
  padding: 5px;
}

.ability_scores_score_wrapper:not(.loading):hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 1)) invert();
  transform: translateY(10px);
  transition: all 0.2s;
  border: #012a36 solid 3px;
}

.creature_skills_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #012a36; */
  /* color: #a1e8cc; */
  overflow: hidden;
  /* border: #a1e8cc solid 3px; */
}

.creature_specs_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #012a36; */
  color: #a1e8cc;
  overflow: hidden;
  /* border-bottom: #a1e8cc solid 3px;
  border-right: #a1e8cc solid 3px; */
  flex: 1;
}

.creature_specs_information:not(.loading) {
  margin: 10px;
  border: #a1e8cc solid 3px;
  border-radius: 20px;
  padding: 10px;
  background-color: #012a36;
  height: 90%;
  /* width: 25%; */
  text-overflow: clip;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
  transition: all 0.2s;
  transform: scale(1);
}

.creature_specs_information.loading {
  transform: scale(0);
  transition: all 0.2s;
}

.creature_specs_information:not(.loading):hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 1)) invert();
  transform: translateY(10px);
  transition: all 0.2s;
  border: #012a36 solid 3px;
}
