.resultsDisplay {
  animation-duration: 0.3s;
  animation-name: appear;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #012a36;
  color: #a1e8cc;
  height: calc(100% - 20px);
  /* font-size: 40px; */
  padding: 10px;
  padding-top: 0px;
  border: #a1e8cc solid 3px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
  transition: all 0.2s;
  overflow: scroll;
}

.resultsDisplay::-webkit-scrollbar {
  display: none;
}

.mainHeader {
  /* animation-duration: 0.3s;
  animation-name: appear; */
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #012a36;
  color: #a1e8cc;
  font-size: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border-left: #a1e8cc solid 3px;
  border-right: #a1e8cc solid 3px;
  border-bottom: #a1e8cc solid 3px;
  border-radius: 0px 0px 25px 25px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
  transition: all 0.2s;
}
.secondHeader {
  /* animation-duration: 0.3s;
  animation-name: appear; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #012a36;
  color: #a1e8cc;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  border: #a1e8cc solid 3px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
  transition: all 0.2s;
  width: calc(100% - 25px);
}

.description {
  /* animation-duration: 0.3s;
  animation-name: appear; */
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  font-size: 15px;
}

.description:hover {
  color: white;
  /* font-weight: bold; */
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 1));
  transition: 0.1s;
}

.invisible {
  animation-name: disappear;
  animation-duration: 0.1s;
}

@keyframes appear {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes disappear {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}
